.footer {
    text-align: center;
    background-color: #09090b;
}

.footer .grid-layout {
    border-top: 1px solid rgba(114,114,126,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 12px
}

@media screen and (max-width: 768px) {
    .footer .grid-layout {
        justify-content:center
    }
}

.footer .grid-layout #direitos-autorais {
    margin-top: 24px
}

.footer .grid-layout p {
    color: #d8d8d8;
    text-align: center;
    font-size: 1rem
}

.footer .grid-layout div {
    margin-top: 24px;
    display: flex;
    align-items: center
}

.footer .grid-layout div img {
    width: 48px;
    margin-left: 8px
}

@media screen and (max-width: 768px) {
    .footer .grid-layout div {
        width:100%;
        justify-content: center
    }
}



